
body 
{
  background-color: #4f2e7f;
}

#logo_div
{
  margin: 10px auto;
  width:  513px;
  height: 300px;
}

#main_div
{
  position:relative;
  margin: 20px auto;
  width: 800px;
  height: 500px;
  border:1px solid white;
}
