body 
{
  background-color: #4f2e7f;
}

#logo_div
{
  margin: 20px auto;
  width: 300px;
}

#logo_img
{
  width: 300px;
}

#login_div
{
  width: 250px;
  height: 200px;
  margin: 20px auto;
}
#login_form
{
  position: relative;
  top: 10px;
  font-size: 24px;
  font-family: sans-serif;
  color: #EEB311;
  margin-left: 20px;
}

.login_btn
{
  width: 100px;
  position: relative;
  top: 10px;
  font-size: 24px;
}

input
{
  font-size: 18px;
}
