.btn
{
    background-color:#EEB311;
    color:#4F2E7F;
    border:1px solid #EEB311;
    border-style:inset;
    border-radius:5px;
    
    
}

.btn-active,
.btn:hover
{
	cursor:pointer;
    box-shadow: 0px 0px 10px #4F2E7F inset;
}
.btn-text
{
	font-family:sans-serif;
    text-align:center;
}
