body 
{
  background-color: #4f2e7f;
  font-family:      sans-serif;
}

#logo-div
{
  margin: 20px auto;
  width:  300px;
}

#logo-img
{
  width: 300px;
}

#top-menu
{
  position: relative;
  margin:   10px auto;
  width:    300px;
}

#home-lnk
{
  font-size: 18px;
  color:     white;
}

#home-lnk:hover
{
  color: #eeb311;
}

#semester-title
{
  color:      #eeb311;
  text-align: center;
  font-size:  24px;
}

#main-div
{
  position:   relative;
  margin:     40px auto;
  width:      710px;
  height:     500px;
  border-top: 1px solid #eeb311;
}

#menu-div
{
  position:     relative;
  height:       200px;
  width:        160px;
  float:        left;
  border-right: 1px solid #eeb311;
}

#welcome-div,
#versions-div,
#input-div,
#pref-div
{
  position:   relative;
  height:     inherit;
  float:      right;
  width:      547px;
  overflow-y: visible;
}

#welcome-txt
{
  position:    relative;
  margin-top:  50px;
  margin-left: 20px;
  width:       500px;
  text-align:  center;
  font-size:   36px;
  color:       white;
}

.menu-btn
{
  height:           35px;
  margin-top:       15px;
  text-align:       center;
  background-color: #eeb311;
}

.menu-btn:hover
{
  background-color: yellow;
  cursor:           pointer;
}

.option-txt
{
  position:  relative;
  font-size: 18px;
  top:       7px;
  color:     black;
}

.file-btn
{
  position:         relative;
  margin:           10px auto;
  width:            300px;
  text-align:       center;
  font-size:        18px;
  background-color: #eeb311;
}

.file-btn:hover
{
  cursor:           pointer;
  background-color: yellow;
}

.file-div
{
  border: 1px dotted #eeb311;
  height: 350px;
  width:  553px;
}

textarea
{
  position: relative;
  margin:   0px auto;
  width:    547px;
  height:   300px;
  resize:   none;
}

input[type=file]
{
  font-size: 18px;
}

.input
{
  width: 250px;
}

.upload
{
  font-size: 18px;
}

.save-btn
{
  font-size: 18px;
}

#new-version-btn
{
  position:         relative;
  margin:           20px auto;
  width:            150px;
  font-size:        18px;
  background-color: #eeb311;
  text-align:       center;
}

#new-version-btn:hover
{
  background-color: yellow;
  cursor:           pointer;
}

#versions-list
{
  position:       absolute;
  width:          400px;
  margin-left:    90px;
  border-spacing: 10px 5px;
}

#option-list
{
  position:    absolute;
  width:       45px;
  margin-left: 300px;
}

.version-lnk
{
  color: white;
  cursor: pointer;
}

.version-lnk:hover
{
  color: #eeb311;
}

.delete-version-lnk
{
  position: relative;
  color:    #eeb311;
  text-decoration: underline;
  cursor: pointer;
}

.delete-version-lnk:hover
{
  color: white;
}

#pref-title
{
  color:      #eeb311;
  text-align: center;
}

#pref-version-div
{
  position: relative;
  margin:   10px auto;
  width:    300px;
  color:    white;
}

.course-div
{
  position:        relative;
  border-bottom:   1px solid #eeb311;
  width:           300px;
  height:          80px;
  margin:          20px auto;
}

.course-txt
{
  
  float:      left;
  width:      150px;
  position:   relative;
  width:      150px;
  top:        25px;
  left:       15px;
  font-size:  24px;
  color:      #eeb311;;
  text-align: center;
}

.checkbox-grp
{
  position: absolute;
  left:     200px;
  top:      10px;
}

/*
input[type=checkbox]
{
  float: left;
}*/

.checkbox-txt
{
  color: white;
}

#pref-btn-div
{
  position: relative;
  margin:   5px auto;
  width:    146px;
}

#pref-submit-btn,
#pref-reset-btn
{
  font-size: 18px;
}

#fill-prefs
{
  position: absolute;
  top: 20px;
  left: 20px;
}

#schedule-edit-container
{
  position: absolute;
  top: 28%;
  left: 34%;
  height: 300px;
  width: 400px;
  background-color: lightGrey;
  border: 4px solid darkGrey;
  display: none;
}

#course-label
{
  margin-left: 10px;
}


#schedule-output-container
{
  position: absolute;
  top: 1%;
  left: 1%;
  height: 600px;
  width: 1240px;
  background-color: darkGrey;
  display: none;
}

#schedule-container-overlay
{
  position: absolute;
  top: 1%;
  left: 1%;
  height: 600px;
  width: 1240px;
  background-color: black;
  opacity: 0.5;
  display: none;
}

#schedule-inner-container
{
  position: absolute;
  top: 55px;
  left: 5px;
  height: 540px;
  width: 1230px;
  background-color: white;
  overflow-y: scroll;

}

#seniority-container
{
  position: absolute;
  top: 20px;
  left: 20px;
  /* display: none; */
}

#submission-container
{
  position: absolute;
  top: 20px;
  left: 20px;
  display: none;
}

#button-container
{
  position: relative;
  /* width: 80%; */
  left: 0px;
  text-align: center;
}

#top-buttons-container
{
  display: inline-block;
}

#botton-buttons-container
{
  display: inline-block;
}

.by-room
{

}

.by-class-name
{
  display: none;
}

.class-name-table
{
  border-collapse: collapse;
}

.class-name-table th
{
  border: 1px solid black;
}

.class-name-table td
{
  border: 1px solid black;
  text-align: center;
}

.faculty-table
{
  /* border-collapse: collapse; */
}

.faculty-table th
{
  /* border: 1px solid black; */
    padding: 20px;
} 

.faculty-table td
{
  /* border: 1px solid black; */
  text-align: center;
}

.by-faculty
{
  display: none;
}

.by-time
{
  display: none;
}

.not-scheduled
{
  display: none;
}

#active-container-label
{
  position: absolute;
  top: 15px;
  left: 20px;
  color: #4f2e7f;
  font-size: 22px;
}

#publish-btn
{
  position: absolute;
  top: 14px;
  left: 960px;
  height: 30px;
  width: 100px;
  font-size: 18px;
}

#hide-schedule-output
{
  position: absolute;
  top: 14px;
  left: 1080px;
  height: 30px;
  width: 100px;
  font-size: 18px; 
}

.day-row
{
  width: 1120px;
  height: 72px;
  border: 1px dotted black;
  background-color: white;
}

.time-row
{
  width: 1140px;
}

.class-block
{
  position: absolute;
  width: 68px;
  height: 70px;
  background-color: #eeb311;
  color: black;
  font-size: 10px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid black;
}

.class-block:hover
{
  background-color: #4f2e7f;
  color: white;
  cursor: pointer;
}

.time-label
{
  position: relative;
  width: 70px;
  font-size: 14px;
  float: left;
  text-align: left;
  font-weight: bold;
}

.time-label7
{
  position: relative;
  width: 66px;
  font-size: 14px;
  float: left;
  text-align: left;
  font-weight: bold;
}

.time-label11
{
  position: relative;
  width: 20px;
  font-size: 14px;
  float: left;
  text-align: left;
  font-weight: bold;
}




input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}





